html{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

#header{
    display: flex;
    padding: 0px 20px;
    align-items: center;
}

#header-img{
    max-width: 300px;
}

#nav-bar {
    margin-left: auto;
}

#nav-bar ul  {
    display: flex;
   list-style-type: none;
}

#nav-bar ul a  {
    padding: 30px;
    text-decoration: none;
    color: #000;
}

#hero{
    display: block;
    text-align: center;
}
#email{
    display: block;
    padding: 5px;
    max-width: 275px;
    width: 100%;
    height: 17px;
    margin: 13px auto;
}
#submit{
    background-color: #f1c40f;
    margin: 13px auto;
}
.btn{
    padding: 0px 20px;
    height: 30px;
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
}
#content .grid {
    display: flex;
}
#content .icon{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    color: darkorange;
    font-size: 1.5em;
}
#content .icon .material-icons{
   
   font-size: 2.5em;
    
}
#how-it-works{
    display: block;
    margin-top: 50px;
    text-align: center;
    
}
#videoytb{
width: 40%;
height: 315px;
}
#pracing{
    display: flex;
    margin-top: 60px ;

}
.product{
    flex-direction: column;
    align-items: center;
    text-align: center; 
    width: calc(100%/3);
    margin: 10px;
    border-radius: 3px;
    border: 1px solid black;
    height:100%;
    min-height: 400px;
    
}
.product .level{
background-color: #ddd;
padding: 15px;
text-transform: uppercase;
font-weight: bold;
}

#pracing ol{
  list-style-type: none;   
  text-align: center;   
}  
.product ol li {
    
    padding: 5px 0;
    text-align: center;
}
#tenor{
 margin: auto;
}
.btn{
    background-color: #f1c40f;
    margin-top: 75px;
}
footer{
   display: block;
    padding: 20px;
    background-color: #ddd;
     margin-top: 30px;
}
footer ul{
    display: flex;
    list-style-type: none;
  margin-left: auto;
    justify-content: flex-end;
  
}
footer li a{
   padding: 10px;
    text-decoration: none  ;
   color: #000;
}
footer  span{
    display: flex;
    margin-top: -10px;
    justify-content: end;
    font-size: 0.9em;
    color: #444;
}